.searchBar {
	margin: 0 auto;
	border: 1px solid black;
	display: flex;
	width: 40%;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	overflow: hidden;
}

.searchBar input {
	font-size: 1.6rem;
	padding: 1rem;
	border: none;
	outline: none;
	flex: 1;
}
.searchBar button {
	border: none;
	outline: none;
	font-size: 2rem;
	padding: 1rem 2.5rem;
	border-left: 1px solid rgb(70, 70, 70);
	transition: all 0.3s;
	cursor: pointer;
}
.searchBar button:hover {
	background-color: rgb(216, 215, 215);
}

@media only screen and (max-width: 600px) {
	.searchBar {
		width: 90%;
	}
}
