.responsive {
	font-size: 3rem;
	cursor: pointer;
}
.body {
	border: 1px solid blue;
	padding: 8rem 5rem 0 5rem;
	display: flex;
	gap: 2.5rem;
}
.recommended {
	border: 1px solid black;
	max-width: 30%;
}

@media only screen and (max-width: 600px) {
	.body {
		padding-top: 7rem;
	}
}
