.comment {
	/* border: 1px solid #9ec005; */
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin: 1rem 0;
}
.comment img {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 100%;
	background-color: #dbdbdb;
}

.commentInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.commentInfo span {
	font-weight: bold;
}
.commentInfo span span {
	margin-left: 0.7rem;
	color: grey;
}

.commentText {
	line-height: 1.7;
}
.actions {
	display: flex;
	gap: 2rem;
}
