.navContainer {
	width: 12%;
}

.navContainer {
	padding: 0 1.2rem;
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	overflow: auto;
}
.navContainer::-webkit-scrollbar {
	width: 1rem;
}
.navContainer::-webkit-scrollbar-thumb {
	background-color: rgb(218, 216, 216);
	border-radius: 2rem;
}
.home {
	margin-top: 2rem;
}
.navContainer li {
	display: flex;
	/* align-items: center; */
	/* border: 1px solid red; */
}

.navContainer li .logo {
	/* height: 4rem;
	width: 4rem; */
	font-size: 2.5rem;
	margin-right: 2rem;
}
.library {
	margin-bottom: 1rem;
}
.settings {
	margin-top: auto;
}
/* .library {
	flex: 1;
} */
.link {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
	padding: 0.5rem 1.5rem;
	width: 100%;
	border-radius: 1rem;
}
.copyright {
	margin: 1rem 0;
	border-top: 1px solid grey;
	font-weight: bold;
	text-align: center;
	padding: 1rem 0rem;
	border-radius: 0 !important;
}
